$mobileNavItemBackground:linear-gradient(to bottom right, #f66f58, #f6852c);
$orangeGradient: linear-gradient(to right, #f66f58, #f68726);
$oGHover:linear-gradient(to right, #ff3e1c, #ff7d0c);
$purple: #4a44f2;
$purpleHover:#554ff8;
$white: #f3f6fa;
$gray:#9e9e9e;